body {
  background-color: #E0EFF1;
  font-family: 'Roboto', sans-serif;
}

.bfs-dfs-container {
  margin: 0 auto;
  max-width: 900px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

header {
  height: 55px;
  width: 100%;
  background-color: #AECED2;
  border-bottom: 1px solid #737373;
  margin-bottom: 20px;
}

.header-container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 900px;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*.maze-container h4 {
  display: inline-block;
}*/
